<template>
  <div class="home">
      <h3>PRODUCT</h3> 
      <Card v-for="(product,index) in contents" :key="index" :content="product" :clickedProduct="active" @open="open">
          <div class="childProduct">
            <Card v-for="(product, index) in activeCollapse" :key="index" :content="product" class="col-12 col-lg-6" @open="open"></Card>
          </div>
      </Card>
  </div>
</template>

<script>
import { contents } from '../assets/Ingredients/json/main.json'
import Card from '../components/Card'
import { type } from 'os'

export default {
  name: 'home',
  components: {
    Card    
  },
  data(){
    return {
      contents,
      clicked: false,
      active : '',
      activeCollapse : []
    }
  },
  methods: {
    open(payload){
      if(payload.name === this.active){
        this.clicked = false
        this.active = ''
        this.activeCollapse = []
      } else if(payload.type){
        this.clicked = true
        this.activeCollapse = payload.type
        this.active = payload.name
      }else{
        this.clicked = true
        this.activeCollapse = payload.type
        this.active = ''
        this.$router.push({path: `product/${payload.name}`, query: {path: payload.sub} })
      }
    }
  },
  created() {
  }
}
</script>

<style scoped>
  .childProduct{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin : 0;
    padding: 0;
  }
  h3{
    margin: 4rem auto 1rem auto;
    letter-spacing: -2px;
    font-weight: bold;
    line-height: 2rem;
  }
</style>