<template>
  <div v-if="content.length">
    <div class="container">
      <SearchAndFilter
        :filterOption="filterOption"
        :filterBy="filterBy"
        @searchOnChange="triggerSearchChange"
        @optionOnChange="triggerOptionChange"
      ></SearchAndFilter>
      <table style="width: 100%; margin-bottom: 1rem">
        <TableHead :head="table.head"></TableHead>
        <TableContent v-for="(content,index) in filteredProduct" :key="index" :content="content"></TableContent>
      </table>
      <Loading v-if="isLoading"></Loading>
    </div>
    <Observer @intersectObserver="intersect"></Observer>
  </div>
</template>

<script>
import TableHead from "../components/TableHead";
import TableContent from "../components/TableContent";
import SearchAndFilter from "../components/SearchAndFilter";
import Observer from "../components/Observer";
import Loading from "../components/Loading";

export default {
  components: {
    TableHead,
    TableContent,
    SearchAndFilter,
    Observer,
    Loading
  },
  data() {
    return {
      isLoading: false,
      count: 0,
      content: [],
      lazyContent: [],
      table: {
        head: [],
        content: []
      },
      filterBy: "",
      search: "",
      optionSearch: ""
    };
  },
  methods: {
    triggerSearchChange(payload) {
      this.search = payload.search;
    },
    triggerOptionChange(payload) {
      this.optionSearch = payload.option;
    },
    parseHeadTable(arr) {
      let collumns = [];
      for (let key in arr[0]) {
        if (key !== "sub") {
          collumns.push(key);
        }
      }
      return collumns;
    },
    parseTableContent(arr) {
      let collumns = [];
      arr.forEach(data => {
        let obj = {};
        for (let key in data) {
          if (key !== "sub") {
            obj[key] = data[key];
          }
        }
        collumns.push(obj);
      });
      return collumns;
    },
    pageFilter(name) {
      switch (name) {
        case "Sharia Invoice":
          return "grade";
          break;
        case "Conventional Invoice":
          return "grade";
          break;
        case "Conventional OSF":
          return "grade";
          break;
        case "Sharia OSF":
          return "grade";
          break;
        case "SBN":
          return "type";
          break;
        case "Reksadana":
          return "return";
          break;
        default:
          break;
      }
    },
    pageFilterOption(arr, keyFilter) {
      if (this.filterBy !== "return") {
        let output = [];
        arr.forEach(dat => {
          for (let key in dat) {
            if (key === keyFilter) {
              output.push(dat[key]);
            }
          }
        });
        return [...new Set(output)];
      } else {
        return ["positive", "negative"];
      }
    },
    addData() {
      if (this.count < this.content.length) {
        this.lazyContent.push(this.content[this.count]);
        this.table.content = this.parseTableContent(this.lazyContent);
        this.count++;
      }
    },
    intersect() {
      if (!this.isLoading && this.count < this.content.length) {
        this.isLoading = true;
        setTimeout(() => {
          for (let i = 0; i < 5; i++) {
            this.addData();
          }
          this.isLoading = false;
        }, 1000);
      }
    }
  },
  created() {
    import(
      /* webpackMode: "eager" */ `../assets/Ingredients/json/${this.$route.query.path}`
    ).then(data => {
      this.content = data.default.contents;
      for (let i = 0; i < 5; i++) {
        this.addData();
      }
      this.table.head = this.parseHeadTable(this.content);
      this.filterBy = this.pageFilter(this.$route.params.name);
    });
  },
  computed: {
    filteredProduct: function() {
      if (this.filterBy !== "return") {
        return this.table.content.filter(data => {
          let optionFlag = false;
          if (data[this.filterBy] == this.optionSearch) optionFlag = true;
          if (!this.optionSearch.length) optionFlag = true;
          return data.name.match(this.search) && optionFlag;
        });
      } else {
        return this.table.content.filter(data => {
          let optionFlag = false;
          if (this.optionSearch === "negative") {
            if (data.return < 0) optionFlag = true;
          } else if (this.optionSearch === "positive") {
            if (data.return > 0) optionFlag = true;
          } else {
            optionFlag = true;
          }
          return data.name.match(this.search) && optionFlag;
        });
      }
    },
    filterOption: function() {
      return this.pageFilterOption(this.content, this.filterBy);
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  padding: 3rem;
  box-shadow: 1px 0px 3px 3px rgba(161, 161, 161, 0.15),
    1px 0px 3px 3px rgba(161, 161, 161, 0.1);
  margin: 2rem 0;
}
</style>