<template>
    <div>
        <img src="../assets/banner.jpg" alt="" width="100%">
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
img{
    margin: 3rem 0; 
    margin-top: 0;  
}
</style>