<template>
  <div class="cardWrapper">
    <div
      class="customCard cardFlex"
      :class="(content.name === clickedProduct) ? 'active' : 'none'"
      @click="open"
    >
      <div class="iconCard">
        <i
          class="far fa-file-alt"
          style="font-size: 96px; color: #4DD0AA; font-weight: 400;"
          :style="(content.name === clickedProduct) ? 'color: white' : 'color: #4DD0AA'"
        ></i>
      </div>
      <div class="cardContent">
        <p
          class="title"
          :style="(content.name === clickedProduct) ? 'color: white' : 'color: #4DD0AA'"
        >{{content.name}}</p>
        <p
          class="desc"
        >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit incidunt tempore veniam quia id eum inventore voluptates voluptate, quo modi commodi sequi assumenda deserunt, aliquam cupiditate est architecto dolorum! Sed?</p>
      </div>
      <div 
        class="count"
        :style="(content.name === clickedProduct) ? 'color: white' : 'color: #4DD0AA'"
      >
        <p>{{content.count}}</p>
      </div>
    </div>
    <slot v-if="content.name === clickedProduct" class="childProduct"></slot>
  </div>
</template>

<script>
export default {
  props: ["content", "clickedProduct"],
  methods: {
    open() {
      this.$emit("open", this.content);
    }
  },
  created(){
    console.log(this.content)
  }
};
</script>

<style>
.cardWrapper {
  margin-bottom: 2rem;
}
.customCard {
  width: 100%;
  padding: 5vh 5vh;
  box-shadow: 1px 0px 3px 3px rgba(161, 161, 161, 0.15),
    1px 0px 3px 3px rgba(161, 161, 161, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 1rem auto;
  cursor: pointer;
}
.customCard:hover {
  box-shadow: 1px 0px 3px 3px rgba(90, 90, 90, 0.15),
    1px 0px 3px 3px rgba(90, 190, 90, 0.1);
}
.cardFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.cardContent {
  text-align: left;
  padding: 0 2rem;
}
.iconCard {
  width: 20%;
  height: 100%;
}
p {
  margin: 0;
}
p.title {
  color: #4dd0aa;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
p.desc {
  font-size: 14px;
}
.count{
  font-weight: bold;
  color: #4dd0aa;
  height: 100% !important;
}
.active {
  background: linear-gradient(
    90deg,
    rgba(80, 183, 73, 1) 0%,
    rgba(137, 214, 137, 1) 100%
  );
  color: white;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.childProduct > * {
  margin: 0 auto;
}
</style>