<template>
  <div class="observer"></div>
</template>

<script>
export default {
    data(){
        return {
            observer : null
        }
    },
    mounted(){
        this.observer = new IntersectionObserver(([entry]) => {
            if(entry && entry.isIntersecting){
                this.$emit('intersectObserver')
            }
        })
        this.observer.observe(this.$el)
    },
}
</script>

<style scoped>
    .observer{
        width: 20px;
        height: 20px;
    }

</style>