<template>
    <form class="row" >
        <div class="col-8 col-lg-9">
            <input type="text" placeholder="search by name" v-model="search">
        </div>
        <div class="col-4 col-lg-3">
            <select v-model="searchOption">
                <option value="">{{filterBy}}</option>
                <option v-for="(option, index) in filterOption" :key="index" :value="option" v-html="option"></option>
            </select>
        </div>
    </form>
</template>

<script>
export default {
    props: ["filterBy", "filterOption"],
    data(){
        return { 
            search : '',
            searchOption: ''
        }
    },
    methods : {
        emitSearchChange(){
            this.$emit('searchOnChange', { search : this.search })
        },
        emitOptionChange(){
            this.$emit('optionOnChange', { option : this.searchOption })
        }
    },
    watch : {
        search(){
            this.emitSearchChange()
        },
        searchOption(){
            this.emitOptionChange()
        }
    }
}
</script>

<style scoped>
form{
    margin: 2rem 0;
}
input{
    width: 100%;
    margin: 0;
    padding: .5vh 2vh;
    border-radius: 15px;
    border: 1px solid rgb(165, 165, 165);
}
input:focus{
    outline: none;
}
select{
    width: 100%;
    margin: 0;
    padding: 1vh 2vh;
    border-radius: 15px;
    border: 1px solid rgb(165, 165, 165);
}
select:focus{
    outline: none;
}
</style>