<template>
  <tr class="rowContent">
    <th v-for="(title,index) in head" :key="index" v-html="title"></th>
  </tr>
</template>

<script>
export default {
    props : ['head']
};
</script>

<style scoped>
.rowContent{
    border-bottom: 1px solid rgb(66, 66, 66, .2);
}
th{
    padding: 2vh 0vh;    
    text-align: left;
    color: rgb(0, 0, 116)
}
</style>