<template>
  <tr class="rowContent">
    <td v-for="(data,index) in content" :key="index" v-html="data"></td>
  </tr>
</template>

<script>
export default {
  props: ["content"],
  methods: {
    computeAmount() {
      if (typeof this.content.amount === "number") {
        this.content.amount =
          "IDR " +
          this.content.amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
      }
    }
  },
  created() {
    this.computeAmount();
  },
  watch: {
    content() {
      this.computeAmount();
    }
  }
};
</script>

<style scoped>
.rowContent {
  border-bottom: 1px solid rgb(66, 66, 66, 0.2);
}
td {
  padding: 2vh 0vh;
  text-align: left;
}
</style>